# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Allure
allure-results/
allure-report/

# Test output
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Misc
*.swp
*.bak

# Ignore environment and secrets
.env
.env.*
secrets.*
