repos:
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Allure
allure-results/
allure-report/

# Test output
*.log
tests/temp/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Misc
*.swp
*.bak

# Ignore environment and secrets
.env
.env.*
secrets.*
